.file{
    margin:5px 0;
    border: 2px solid black;
    border-radius:5px;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    transition: 1s;
    
    
}
.file:hover{
    background-color:#b6b7bb;
    cursor: pointer;
    transition: 0.2s;
}
/* свойства файла  */   
.file__name{
    grid-column-start: 2;
    
}
.file__date {
    grid-column-start:5;
    justify-self: center;
    
    
}
.file__size {
    grid-column-start: 6;
    justify-self: center;
   
}
.file__img{
    align-items: center;
    width: 40px;
    margin-left:80px;
    
}
/* кнопки  */
.file__btn{
    display: none;

}
.file:hover .file__date{
    display: none;

}
.file:hover .file__size{
    display: none;
}
.file:hover .file__download{
    grid-column-start: 5;
    display: block;
    justify-self: center;
    align-items: center;
}
.file:hover .file__delete{
    grid-column-start: 6;
    display: block;
    justify-self: center;
    align-items: center;
    

}
.file__download{
  border: 2px solid black;
  padding: 2px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  color: black;
}
.file__delete{
    border: 2px solid black;
    padding: 2px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    color: black;
}
.file__delete:hover{
    cursor: pointer;
}

/* tiles view */
.file-tiles{
    width: 150;
    height: 150;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.file-tiles__img{
    width: 100px;
    height: 100px;
}