@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body{
    font-family: 'Ubuntu', sans-serif; 
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: 100%;
    
}
.app{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrap{
    width: 1740px;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 247, 255);
    align-self: center;
    height: 90vh;
    border-radius: 0 0 20px 20px;
}