@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body{
    font-family: 'Ubuntu', sans-serif; 
    background: white;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: 100%;
    
}
.app{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrap{
    width: 1740px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: center;
    height: 95vh;

}